# pixi environments
.pixi/*
!.pixi/config.toml
HuntsvilleCityLimits.zip
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.CPG
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.prj
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.dbf
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.sbx
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.sbn
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.shp.xml
HuntsvilleCityLimits/Boundary_City_Huntsville_poly.shx
